/** @format */

/* Universal Styling */

*,
html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

body {
   font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 17px;
   line-height: 1.5;
}

a {
   text-decoration: none;
}

h1,
h2,
h3,
p {
   margin: 10px auto;
   line-height: 1.5;
}

img {
   width: 100%;
   height: 100%;
}

section {
   padding: 3rem 0;
}

/* Header styling */
.header {
   width: 100%;
   height: 100vh;
   margin: auto;
   padding: 0;
   overflow: hidden;
}

.logo {
   width: 100;
   height: 50px;
}

.header-container {
   width: 100%;
   height: 100%;
   position: relative;
}

/* Navbar Styling */
.navbar {
   position: relative;
   background: rgba(255, 255, 255, 0.1);
   width: 100%;
   padding: 0.5rem 0;
   z-index: 99;
   transition: 0.5s ease;
}

.navbar ul li {
   display: flex;
   align-items: center;
   height: 80px;
   padding: 30px;
}

.navbar ul li a:hover {
   color: var(--primary-color);
}

.navbar li:hover {
   background: var(--text-color);
}

.navbar ul li a {
   font-size: 16px;
   color: var(--text-color);
   transition: all 0.4s ease-in-out;
}

.navbar li:hover a {
   color: var(--primary-color);
}

.navbar.fixed {
   position: fixed;
   z-index: 999;
   /* width: 100%; */
   top: 0;
   left: 0;
   padding: 0.3rem 0;
   transition: 0.5s ease;
   background: var(--primary-color);
   animation: zoom 0.5s ease alternate;
}

.navbar.fixed a {
   color: var(--text-color);
}

.navbar.fixed li:hover {
   background: var(--text-color);
}

.navbar.fixed li:hover a {
   color: var(--primary-color);
}

.navbar .flex {
   justify-content: space-between;
   align-items: center;
   height: 80px;
}

.navbar ul {
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80px;
   position: relative;
}

.toggle {
   display: none;
}

/* Slider Styling */
.slides {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: 0.5s ease;
   display: flex;
   justify-content: center;
   align-items: center;
}

.slides .content {
   position: relative;
   top: 10%;
   width: 100%;
   color: #fff;
   padding: 10rem 0;
}

.slides .content h1 {
   font-size: 8rem;
   font-weight: 500;
   line-height: 1.3;
   text-transform: uppercase;
   text-align: center;
}
.slides .content h2 {
   font-size: 1.5rem;
   font-weight: 500;
   line-height: 1.3;
   text-transform: capitalize;
   text-align: center;
   margin: 30px auto;
}

.slides.current {
   width: 100%;
   opacity: 1;
   /* transform: scale(1); */
   transition: 0.5s ease;
   display: flex;
   justify-content: center;
   align-items: center;
}

.slides.current .content {
   max-width: 90%;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   align-items: center;
}

.slides.current .content .content-lt {
   max-width: 600px;
   text-transform: capitalize;
   text-align: center;
}
.slides.current .content-lt .pipe {
   font-weight: bold;
   color: var(--primary-color);
}

.slides.current::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.555);
}

.slides:nth-child(1) {
   background: url("../images/homebg1.jpg") no-repeat center center/cover;
}
.slides:nth-child(2) {
   background: url("../images/visa-slider-bg.jpg") no-repeat center center/cover;
}

.slides:nth-child(3) {
   background: url("../images/edu-slider-bg.jpg") no-repeat center center/cover;
}

.slides:nth-child(4) {
   background: url("../images/uni-bg0.jpg") no-repeat center center/cover;
}

.slides:nth-child(5) {
   background: url("../images/stu-slider-bg.jpg") no-repeat center center/cover;
}
.slides:nth-child(6) {
   background: url("../images/gt-slider.jpg") no-repeat center center/cover;
}
.slides:nth-child(7) {
   background: url("../images/uni-bg1.jpg") no-repeat center center/cover;
}

.nextBtn {
   display: block;
   position: absolute;
   bottom: 1%;
   right: 15px;
   width: 50px;
   height: 50px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   cursor: pointer;
   z-index: 80;
}

.prevBtn {
   display: block;
   position: absolute;
   bottom: 1%;
   left: 15px;
   width: 50px;
   height: 50px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   cursor: pointer;
   right: 15px;
   z-index: 80;
}

.nextIcon::before {
   content: "\ea82";
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   font: normal 30px "theme-icons";
   border-radius: 50%;
   transition: 0.2s ease-in-out;
}
.prevIcon::before {
   content: "\ea81";
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   font: normal 30px "theme-icons";
   border-radius: 50%;
   transition: 0.2s ease-in-out;
}

.nextIcon:hover::before,
.prevIcon:hover::before {
   background: var(--primary-color);
   color: var(--text-color);
   border-radius: 50%;
   transition: 0.2s ease-in-out;
}

/* About*/
.home-about {
   background: var(--lightgrey);
   width: 100%;
   margin: auto;
   padding: 2rem 0;
}

.home-about .grid {
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   /* grid-gap: 2rem; */
}

.home-about h1 {
   font-size: 1.5rem;
   margin-bottom: 30px;
   text-transform: uppercase;
}

.about-content {
   width: 100%;
   height: 100%;
   background: #cee36e;
   padding: 1rem;
}

.aboutImg {
   max-width: 600px;
   height: 350px;
}

/* Services we offer styling */

.service {
   width: 100%;
   padding: 2rem 0;
   margin: auto;
}

.service h1 {
   font-size: 1.5rem;
   text-transform: uppercase;
}

.service .flex {
   justify-content: center;
   align-items: stretch;
   gap: 40px;
}

.service .card {
   padding-bottom: 2rem;
   transform: scale(0.99);
   border: 3px solid var(--lightgrey);
   transition: 0.5s ease;
   overflow: hidden;
   width: inherit;
}

.service-content:hover {
   box-shadow: 0 3px 10px var(--darkgrey);
   background: #efefef;
   transform: translateY(-10px);
}

.service-content h2 {
   font-size: 1.1rem;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 10px;
}

.icon-globe:before {
   content: "\e8e7";
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   margin: auto;
   border: 1px solid var(--secondary-color);
   color: var(--secondary-color);
   border-radius: 50%;
   font: normal 30px "FontAwesome", "theme-icons";
   overflow: hidden;
}

.icon-graduation-cap:before {
   content: "\e974";
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   margin: auto;
   border: 1px solid var(--secondary-color);
   color: var(--secondary-color);
   border-radius: 50%;
   font: normal 30px "FontAwesome", "theme-icons";
   overflow: hidden;
}

.icon-archive:before {
   content: "\f072";
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   margin: auto;
   border: 1px solid var(--secondary-color);
   color: var(--secondary-color);
   border-radius: 50%;
   font: normal 30px "FontAwesome", "theme-icons";
   overflow: hidden;
}

.icon-globe:hover:before,
.icon-archive:hover:before,
.icon-graduation-cap:hover:before {
   background: var(--secondary-color);
   color: var(--text-color);
   transition: 0.3s ease-in;
}

/* Why Choose Us */

.whyChoose {
   background: var(--lightgrey);
   width: 100%;
   margin: auto;
   padding: 2rem 0;
}

.whyChoose .grid {
   grid-template-columns: repeat(2, 1fr);
   /* grid-gap: 2rem; */
}

.why-content {
   background: #cee36e;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;
   width: 100%;
   height: 100%;
}

.whyChoose h1 {
   width: inherit;
   font-size: 1.5rem;
   /* margin-bottom: 20px; */
   text-transform: uppercase;
}

.whyImg {
   height: 350px;
}

/* cv styling */
.cv {
   background: var(--primary-color);
   width: 100%;
   margin: 0;
   padding-bottom: 0;
}

.cv .cv-header {
   color: var(--text-color);
}

.cv-header h1 {
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--text-color);
}
.cv-header h2 {
   text-transform: capitalize;
   font-size: 1.5rem;
   font-weight: 500;
}

.cv .grid {
   grid-template-columns: repeat(2, 1fr);
   padding-bottom: 5rem;
   gap: 40px;
   justify-content: space-between;
   overflow: hidden;
}

.cv .card {
   border: 0;
   border-radius: 5px;
   background: var(--text-color);
   box-shadow: 0px 3px 10px #111;
}

.cv-items {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.cv-items h4 {
   text-transform: uppercase;
   font-size: 1.1rem;
   color: var(--darkgrey);
}

.cv-icons {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   color: var(--secondary-color);
   margin: 15px 10px 15px 0;
   padding: 1rem;
   border: 1px solid var(--secondary-color);
   border-radius: 50%;
   transition: 0.2s ease;
}

.cv-icons:hover {
   background: var(--secondary-color);
   color: var(--text-color);
}

.counterBox {
   width: 100%;
   padding: 2rem 0;
   position: relative;
   background: var(--text-color);
}
.counterBox::before {
   content: "";
   position: absolute;
   top: -15px;
   left: 45.5%;
   transform: skewY(-25deg);
   transform: rotate(-45deg);
   width: 100px;
   height: 60px;
   background: inherit;
}

.counterBox .flex {
   justify-content: space-between;
   /* flex-wrap: wrap; */
}

.counter {
   margin: 0 2rem;
   text-align: center;
}

.counterBox .card {
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   width: 350px;
   height: 200px;
   box-shadow: 0 3px 10px #2a2a2a;
}

.counter span {
   display: block;
   font-size: 2rem;
   font-weight: 500;
   color: var(--darkgrey);
}

.counter h4 {
   font-size: 1.1rem;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--secondary-color);
}

/* Contact us */
.home-contact {
   background: var(--primary-color);
   border-bottom: 1px solid var(--darkgrey);
}
.home-contact .grid {
   grid-template-columns: 1fr 1fr;
   grid-gap: 100px;
   justify-content: center;
   align-items: center;
}

.home-contact .formtxt h1 {
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: 500;
   color: #fff;
}

.home-contact-form,
.form-control {
   width: 100%;
}

.home-contact-form .row50 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px;
}

.home-contact-form input,
.row100 {
   background: #d8d8d8;
   color: #808080;
   width: 100%;
   margin: 20px auto;
   padding: 1rem;
   transition: 0.5s ease-in;
   border: 0;
   border-radius: 2px;
}

.home-contact-form input.active {
   border: 1px solid red;
}

.home-contact-form input:focus,
select:focus {
   background: #fff;
   outline: 0;
   transition: 0.5s ease-in;
}

.home-contact-form textarea {
   width: 100%;
   max-width: 1350px;
   height: 200px;
   background: #d8d8d8;
   border: 0;
   border-radius: 2px;
   padding: 1rem;
}

.home-contact-form textarea:focus {
   background: #fff;
   outline: 0;
   transition: 0.5s ease-in;
}

.home-contact-form button[type="submit"] {
   width: 250px;
   padding: 1rem;
   margin-top: 20px;
   background: var(--secondary-color);
   color: var(--text-color);
   border: 0;
   transition: 0.3s ease;
   cursor: pointer;
}

.home-contact-form button[type="submit"]:hover {
   transform: scale(0.98);
}

/* footer styling */

.foot {
   background: var(--darkgrey);
   width: 100%;
   margin: auto;
   padding: 2rem 0 0 0;
   font-size: 14px;
}

.footLogo {
   width: 100px;
   height: 50px;
}
.foot .grid {
   grid-template-columns: repeat(4, 1fr);
   gap: 40px;
}

.foot .contact-info {
   padding: 0.5rem;
   border-right: 1px solid #fff;
}
.foot h3 {
   text-transform: uppercase;
   color: #fff;
}
.foot p,
.foot a {
   color: var(--text-color);
}

.map {
   max-width: 100%;
   height: 100%;
}
iframe {
   width: 100%;
   height: 100%;
}

.footLinks {
   background: var(--primary-color);
   color: var(--text-color);
}

.footLinks .flex {
   justify-content: center;
   align-items: center;
}

.footLinks a {
   display: inline-block;
   margin: 0 10px;
   color: var(--text-color);
}
