/**
 * /* 1100px, 968px, 768px
 *
 * @format
 */

@media (max-width: 1100px) {
   body {
      font-size: 16px;
   }

   .container {
      width: 100%;
      padding: 40px;
   }

   .address .container {
      display: none;
   }

   .slides .content h1 {
      font-size: 6rem;
   }
   .slides .content h2 {
      font-size: 2rem;
   }

   .appHero h1,
   .contactHero h1 {
      font-size: 1.5rem;
      letter-spacing: 0;
   }
}

@media (max-width: 968px) {
   .header .logo,
   .about-header .logo {
      position: relative;
      z-index: 999;
   }

   .prevBtn,
   .nextBtn {
      width: 30px;
      height: 30px;
   }

   .prevIcon::before,
   .nextIcon::before {
      font: normal 15px "theme-icons";
   }

   .toggle {
      display: block;
      position: relative;
      z-index: 99;
      cursor: pointer;
   }

   .toggle .homeBar {
      background: #fff !important;
   }

   .toggle .bar {
      background: var(--darkgrey);
      display: block;
      width: 30px;
      height: 2px;
      margin: 8px auto;
      transition: 0.5s ease;
   }

   .toggle.close .bar:nth-child(1) {
      transform: translateY(5px) rotate(-45deg);
      transition: 0.5s;
      opacity: 1;
   }
   .toggle.close .bar:nth-child(2) {
      transform: translateY(-4px) rotate(45deg);
      background: #2b6a00 !important;
      transition: 0.5s;
      opacity: 1;
   }
   .toggle.close .bar:nth-child(3) {
      transform: translateY(-15px) rotate(90deg);
      opacity: 0;
   }

   .toggle .bar.toggleW {
      background: #fff;
      width: 40px;
   }

   .slides .content h1 {
      font-size: 4rem;
   }

   .navigation {
      position: fixed;
      top: 0;
      left: -1000px;
      width: 0;
      height: 100vh;
      transition: 0.3s ease;
   }

   .navigation.show {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
      z-index: 99;
      background: var(--primary-color);
      transition: 0.3s ease;
   }

   .navbar ul {
      flex-flow: column;
      height: 100%;
   }

   .navbar ul li a {
      font-size: 1.2rem;
   }

   .about-header .navbar.fixed .logo {
      color: var(--darkgrey);
   }

   .home-about h1,
   .service h1,
   .whyChoose h1,
   .cv-header h1,
   .home-contact .formtxt h1 {
      font-size: 1.5rem;
   }

   .about-header .navbar a,
   .about-header .navbar.fixed a {
      color: #fff;
   }

   .navbar.fixed .flex {
      width: 90%;
      padding: 0 20px;
   }

   .about-header .navbar.fixed .flex {
      width: 90%;
      padding: 0 20px;
      height: 100%;
   }

   .newsletter .flex,
   .counterBox .flex,
   .footLinks .flex,
   .cv-items {
      justify-content: center;
      align-items: center;
      flex-flow: column;
      text-align: center;
   }

   .form,
   .appForm-Content {
      flex-direction: column;
   }

   .home-about .grid,
   .whyChoose .grid,
   .cv .grid,
   .mv .grid,
   .home-contact .grid,
   .home-contact-form .row50,
   .foot .grid {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
   }

   .service .flex {
      align-items: center;
      flex-flow: column;
   }

   .service .card {
      max-width: 100%;
   }

   .mv {
      height: auto;
   }

   .mvImg {
      order: 1;
   }

   .mvImg,
   .aboutImg,
   .home-contact-form textarea {
      max-width: 100%;
   }

   .accordin .contentBox.active .content {
      height: 300px;
   }

   .appBtn,
   .home-contact-form button[type="submit"] {
      width: 100%;
   }

   .foot {
      text-align: center;
   }

   .footLogo {
      margin: auto;
   }
}

@media (max-width: 768px) {
   .container {
      width: 100%;
      padding: 20px;
   }

   .logo {
      position: absolute;
      left: -25px;
      width: 100px;
      height: 50px;
   }

   .footLogo {
      width: 100px;
      height: 50px;
      margin: auto;
   }

   .slides .content h1 {
      max-width: 100%;
      font-size: 3rem;
   }

   .slides .content h2 {
      font-size: 1.1rem;
   }

   .home-about h1,
   .service h1,
   .service h2,
   .whyChoose h1,
   .cv-header h1,
   .home-contact .formtxt h1,
   .cv-header h2 {
      text-align: center;
      font-size: 1.5rem;
   }

   .cv .card {
      text-align: left;
   }

   .cv .card h4,
   .counterBox h4 {
      font-size: 1.4rem;
   }

   .counterBox::before {
      left: 40%;
   }
}
@media (max-width: 420px) {
   .slides .content h1 {
      max-width: 100%;
      font-size: 2rem;
   }

   .counterBox::before {
      left: 33%;
   }
}
