/** @format */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");


:root {
   /* primary */
   --primary-color: #b5cb0c;/*rgba(92, 1, 1, 0.911);*/
   --text-color: #fff;
   /* Secondary */
   --secondary-color: #5AB34B;
   --darkgrey: #4c4c4c;
   --lightgrey: rgba(216, 211, 211, 0.5);
}

@font-face {
   font-display: swap;
   font-family: "theme-icons";
   src: url("../iconPack/theme-icons.woff") format("woff");
   font-weight: 400;
}

@font-face {
   font-display: swap;
   font-family: "FontAwesome";
   src: url("../iconPack/fontawesome-webfont.woff") format("woff");
   font-weight: 400;
}

h1,
h2,
h3 {
   font-weight: 700;
}

.container {
   width: 90%;
   max-width: 1100px;
   padding: 2rem;
   margin: auto;
   overflow: hidden;
}

.flex {
   display: flex;
   justify-content: center;
   align-items: center;
}

.grid {
   display: grid;
   grid-template-columns: 1fr;
}

.card {
   box-shadow: 0px 3px 10px solid rgba(0, 0, 0, 0.2);
   padding: 1.5rem;
}

.highlight {
   color: var(--primary-color);
}

* ::selection {
   background: var(--secondary-color);
}

.slideUp {
   transform: translateY(200px);
   transition: all 0.5s ease;
   opacity: 0;
}

.slideUp.show {
   transform: translateY(0px);
   transition: all 1.2s ease;
   opacity: 1;
}

.slideRight {
   transform: translateX(200px);
   transition: all 0.5s ease;
   opacity: 0;
}

.slideRight.show {
   transform: translateX(0px);
   transition: all 1.2s ease;
   opacity: 1;
}

.loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 999;
   background: #f5f5f5;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.5s ease-in-out;
   /* opacity: 0; */
}

.loader .load {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   height: 100px;
   /* background: transparent;
   border: 4px solid var(--darkgrey);
   border-top: 4px solid var(--primary-color); */
   border-radius: 50%;
   position: relative;
}

.loader .load::before {
   position: absolute;
   content: "";
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   height: 100px;
   background: transparent;
   border: 4px solid var(--darkgrey);
   border-top: 4px solid var(--primary-color);
   border-radius: 50%;
   animation: rotate 0.888s linear infinite;
}

.load h5 {
   font-family: "Ephesis", Helvetica, sans-serif;
   font-size: 1.1rem;
   color: var(--darkgrey);
}

@keyframes slide {
   from {
      transform: translateY(-150px);
   }
   to {
      transform: translateY(0);
   }
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
